<div class="row">
    <div class="col-md-12">
        <%= render 'room_menu' %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-header">
                        Amenities
                    </div>
                </div>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <%= form_for @room do |f| %>
                        <div class="row">

                            <div class="col-md-4 form-group">
                                <%= f.check_box :is_tv %> TV
                            </div>
                            <div class="col-md-4 form-group">
                                <%= f.check_box :is_kitchen %> Kitchen
                            </div>
                            <div class="col-md-4 form-group">
                                <%= f.check_box :is_internet %> Internet
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <%= f.check_box :is_air %> Air Conditioning
                            </div>
                            <div class="col-md-4 form-group">
                                <%= f.check_box :is_heating %> Heating
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <%= f.submit "Save", class: "btn btn-primary" %>
                            </div>
                        </div>
                        <% end %>
                </blockquote>
            </div>
        </div>
    </div>
</div>