<div class="row">
    <div class="col-md-12">
        <%= render 'room_menu' %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Listing
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">

                    <div class="row">
                        <div class="col-md-12">
                            <%= form_for @room do |f| %>
                                <div class="row text-center">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <%= f.label :home_type %><br/>
                                                <%= f.select :home_type , [["Apartment", "Apartment"], ["House", "House"], ["Room", "Room"]],
                                                                                                id: "home_type", prompt:"Select...", class:"form-control" %>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <%= f.label :room_type %><br/>
                                                <%= f.select :room_type , [["Entire", "Entire"], ["Private", "Private"], ["Shared", "Shared"]],
                                                                                                id: "room_type", prompt:"Select...", class:"form-control" %>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <%= f.label :accommodate %><br/>
                                                <%= f.select :accommodate , [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                                                                                                id: "accommodate", prompt:"Select...", class:"form-control" %>
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <%= f.label :bed_room %><br/>
                                                <%= f.select :bed_room , [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                                                                                                    id: "bed_room", prompt:"Select...", class:"form-control" %>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <%= f.label :bath_room %><br/>
                                                <%= f.select :bath_room , [["1", 1], ["2", 2], ["3", 3]],
                                                                                                    id: "bath_room", prompt:"Select...", class:"form-control" %>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <%= f.submit "Save", class: "btn btn-primary" %>
                                    </div>
                                </div>
                                <% end %>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</div>